*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body{
    background-color: rgb(246, 205, 129);
}

header{
    gap: 20px;
    display: flex;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 112, 20, 0.935);
}

.header-logotipo{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins", serif;
}

.header-navigation{
    display: flex;
    list-style: none;
}

.header-navigation li{
    padding: 10px;
    color: #fff;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", serif;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.header-navigation li:hover{
    color:  rgba(250, 112, 20, 0.935);
    background-color: #fff;
}

/* Content */

.sessao-1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 600px;
}

#container{
    display: flex;
    margin-bottom: 50px;
    background-color: rgba(250, 112, 20, 0.935);
    width: 500px;
    height: 300px;
    flex-direction: column;
    cursor: pointer;
}

.container-header-frutas{
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    color: #fff;
    font-weight: bold;
    gap: 10px;
    font-family: "Poppins", serif;
    border-bottom: 3px solid rgba(255, 255, 255, 0.639);
}

.container-input-btn{
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.pesquisa{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    height: 40px;
}

.pesquisa1{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    height: 40px;
    width: 100%;
}

.pesquisa:focus{
    border: 3px solid rgb(152, 152, 247);
    
}

.btn-add{
    padding: 10px;
    color: rgba(250, 112, 20, 0.935);
    background-color: rgb(246, 205, 129);
    border: none;
    font-size: 15px;
    font-family: "Poppins", serif;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-add:hover{
    color: rgba(250, 112, 20, 0.935);
    background-color: #fff;
    border: 1px solid rgb(246, 205, 129);
}

.container-cart{
    display: flex;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    top: 91%;
    width: 100%;
    background-color: rgba(250, 112, 20, 0.935);
}

.container-cart h2{
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", serif;
    cursor: pointer;
}

/* Container- modal-vazio */

.container-modal-vazio{
    display: flex;
    position: fixed;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: "Poppins", serif;
    display: none;
    top: 85%;
    transition: 0.3s ease-in-out;
}

/* Container Modal Aberto */

.container-modal-open{
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: left 0.1s ease, top 0.1s ease;
}

.container-modal-open-itens{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.teste {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 550px;
    background-color: #fff;
    flex-direction: column;
    position: absolute; /* Adiciona position absolute para mover o container */
    cursor: move; /* Indica ao usuário que o item pode ser movido */
}

.container-btn-fechar{
    display: flex;
    text-align: right;
    justify-content: right;
    height: 10%;
    width: 100%;
}

#btn-fechar{
    height: 30px;
    cursor: pointer;
}

.container-itens{
    width: 350px;
}

.container-itens-li{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.itens-card-title{
    color: rgba(250, 112, 20, 0.935);
    font-size: 20px;
    font-family: "poppins";
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 3px solid rgba(250, 112, 20, 0.329);
}

.header-navigation-itens p{
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: "poppins";
}

.item-edit-delete p{
    color: rgba(0, 0, 0, 0.59);
    font-weight: 400;
    font-family: "Poppins";
}

.container-loader{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-quant-price{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

select{
    height: 40px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgba(250, 112, 20, 0.935);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
    display: none;
  }

  .container-itens-li {
    display: flex;
    flex-direction: column;  /* Alinha os itens de forma vertical */
    overflow-y: auto;        /* Ativa a rolagem vertical */
    height: 300px;           /* Defina uma altura fixa para o container */
    padding: 10px;           /* Espaçamento interno, se necessário */
  }
  
  .header-navigation-itens {
    display: flex;
    padding: 10px;
    gap: 60px;               /* Espaço entre os itens */
  }
  
  .item-edit-delete{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 10px;
    gap: 20px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.208);
  }

  .item-edit-delete:hover{
    background-color: rgba(250, 112, 20, 0.935);
  }

  .edit-delete{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
